@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body{
    background: lime;
}
  .product-row {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      flex-wrap: wrap;
  }

  .product-card {
    background: #f0f0f0;
      background-color: #f0f0f0;
      padding: 15px;
      border-radius: 8px;

  }

  .product-card img {
      height: auto;
  }